*{
    box-sizing: border-box;
    border-color: black;
    border-width: 1px;
}

main{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    font-size: 8px;
}
table {
    margin: 40px auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 10px;
    font-size: 14px
}
