*{
    box-sizing: border-box;
    background-color: aquamarine;
}

main{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    border-style: groove;
    border: 2px solid gray;
    border-radius: 10px;
    background: solid white;
    padding: 20px;
}


body {
    font-family: Arial, sans-serif;
    font-size: 8px;
}

h1 {
    font-size: 30px;
    vertical-align: left;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: condensed bold;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

table {
    margin: 50px auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
}